@use "../base/_colors.scss" as *;

button {
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid $main;
    border-top: 4px solid $main;
    &:hover {
        background-color: rgba($main, 0.3);
    }

}