@use "../base/_colors.scss" as *;

button {
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid $main;
    border-top: 4px solid $main;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
        background-color: rgba($main, 0.7);
        color: white;
    }
}