@use "../base/_colors.scss" as *;

.feed {
    .post{
        border-bottom: 1px solid rgba($gray, 0.4);
        padding: 20px 0;
        &:last-child {
            border-bottom: none;
        }
        span {
            color: $gray;
            font-size: 0.9rem;
        }
        
    }
}
