@use "../base/_colors.scss" as *;

.feed {
    margin: 20px 10px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(500px, 1fr) );
    row-gap: 0;
    column-gap: 20px;
    .post{
        border-bottom: 2px solid $main;
        //border-top: 4px solid $main;
        border-radius: 30px  ;
        padding: 20px;
        
    }
}
