@use "../base/colors.scss" as *;

.newpost {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    label {
      display: block;
      margin-bottom: 5px;
    }
    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      &:focus {
        outline: none;
        border: 2px solid $orange;
        box-shadow: none;
      }
    }
    textarea {
      resize: none;
    }
    #postBody {
        height: 500px;
    }
    button {
      border-color: $orange;
      background-color: $orange;
      &:hover {
        background-color: rgba($orange, 0.3);
      }
    }
  }